@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container5{
    width: 85%;
    margin: auto;
    padding-top: 4vw;
    border-bottom: 1px solid black;
}

.container5-span{
    display: block;
    font-weight: 700;
    font-size: 3vw;
    font-family: 'Nunito', sans-serif;
    margin-left: 1vw;
    text-align: center;
}

.container6{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-top: 8vw;
}

.container6-text, .container7-text, .container8-text{
    width: 50%;
}

.container6-img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.container6-img-img{
    z-index: 2;
    height: 30vw;
    margin-top: 0vw;
    margin-left: -64px;
}

.container6-text-h2, .container7-text-h2, .container8-text-h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 5em;
    margin-top: -10vw;
    line-height: 105%;
}

.container6-text-p, .container7-text-p, .container8-text-p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1vw;
    padding-bottom: 1vw;
}

.container6-text-h2-span{
    color: rgba(110, 203, 99, .9);
}
.container7-text-h2-span{
    color: rgba(110, 203, 99, .9);
}

#sw-js-blob-svg{
    position: absolute;
    z-index: -1;
    width: 48vw;
    transform: rotate(-30deg);
    margin-top: -12vw;
}

.container6-text-button, .container7-text-button, .container8-text-button{
    display: block;
    border: none;
    font-size: 1em;
    padding: 0.8vw 2vw;
    color: #fff;
    background: #6ECB63;
    border-radius: 8px;
    cursor: pointer;
}

.container6-img-1{
    width: 15vw;
    height: 25vw;
    border-radius: 30% 0 30% 30%;
    background: url(../img/dokterp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -10vw;
    background-color: rgba(110, 203, 99, .9);
    box-shadow: 3px 3px 10px #5c5757;
}

.container6-img-2{
    width: 15vw;
    height: 25vw;
    border-radius: 30% 30% 30% 0;
    margin-left: 3vw;
    margin-top: -8vw;
    background: url(../img/docterlaki.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -10vw;
    background-color: rgba(110, 203, 99, .9);
    box-shadow: 3px 3px 10px #5c5757;
}

/* kedua */

.container7, .container8{
    display: flex;
    height: 60vh;
}

.container7{
    margin-top: 7vw;
}

.container8{
    margin-top: 14vw;
    padding-bottom: 3vw;
}

.container7-text-h2{
    text-align: right;
    padding: 0;
    margin-top: 5vw;
}

.container7-text-p{
    text-align: right;
    padding: 1vw 0;
}

.container7-text-button{
    margin-left: 64%;
}

.but{
    display: flex;
    justify-content: flex-end;
}

.container7-img, .container8-img{
    width: 50%;
    display: flex;
    align-items: center;
}

.container7-img{
    justify-content: flex-start;
}

.container8-img{
    justify-content: flex-end;
}

.container7-img-img, .container8-img-img{
    width: 100%;
}

.container7-img-img{
    border-radius: 0 15px 15px 0;
}

.container8-img-img{
    border-radius: 15px 0 0 15px;
}

.container7-img-bg1{
    z-index: 3;
    position: absolute;
    width: 38vw;
    margin-top: 10vw;
}
.container7-img-bg2, .container8-img-bg1{
    display: block;
    background: transparent;
    position: absolute;
    width: 38vw;
    height: 20vw;
}

.container8-img-bg1{
    height: 18.8vw;
    margin-top: -8vw;
}

.container7-img-bg3{
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    background: #89CFF0;
    z-index: 1;
    position: absolute;
    width: 30vw;
    height: 20vw;
    transform: rotate(15deg);
}
.container7-img-bg4{
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    background: #89CFF0;
    z-index: 2;
    position: absolute;
    width: 30vw;
    height: 20vw;
    transform: rotate(-15deg);
}

.container8-text{
    margin-top: 10vw;
}

/* ketiga */

